*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #b8b8b8;
}
.container{
    display: flex;
    height: 100vh;
}

/*Sidebar*/

.sidebar{
    width: 250px;
    background: #ffff;
    border-right: 1px solid #ddd;
    padding: 30px;
}
.sidebar h2{
    color: #1c3150;
    margin-bottom: 30px;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: .3s;
}
.sidebar li:hover{
    background: #1c3150;
    color: #fff;
}
.sidebar i{
    margin-right: 10px;
}

/*conteudo*/

.conteudo{
    flex: 1;
    padding: 40px;
    overflow: auto;
}
.conteudo h1{
    margin-bottom: 30px;
    color: #1c3150;
}

/*modulos*/

.modulo{
    background: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow:  0 3px 10px rgba(0,0,0,.1);
}
.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.titulo h2{
    color: #1c3150;
}
button{
    background: #1c3150;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}
button:hover{
    background-color: #345b96;
}

/*aula*/

.aula{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: .3s;
    cursor: pointer;
}
.aula:last-child{
    border-bottom: none;
}
.aula:hover{
    background: #e0e0e0;
    trasition: .3s;
}
.concluida{
    color: #1c3150;
    font-weight: bold;
}
.concluida i{
    color: #1c3150;
    font-size: 20px;
}